*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: black;
    color: white;
    list-style: none;
    
}

/* Utility Classes: */
*{text-align: left;}
.commentBox{width: 80vw}
br{line-height: normal;}
.largeLineHeight{line-height: 4.5rem;}
.normalLineHeight{line-height: 2rem;}
.orangeText{color: orange;}
.blueText{color: skyblue;}
.smallText{font-size: 0.8rem; opacity: 90%;}
.normalText{font-size: 1.1rem; opacity: 90%;}
.xlargeText{font-size: 2rem; opacity: 97%;}
.xxlargeText{font-size: 2.5rem; line-height: 5rem;}
.externalLinkIcon{height: 15px;width: 15px;}
.instaWhatsappIcon{height: 30px;width: 30px}
.moreBottomPadding{padding-bottom: 2rem;}
.topPadding{padding-top: 3rem;}
.lessTopPadding{padding-top: 1.5rem;}
.topBottomPadding{padding-top: 1.5rem; padding-bottom: 2.5rem;}
.leftPadding{padding-left: 10rem;}
.rightAlign{text-align: right;}
.lefttAlign{text-align: left;}
.cursorPointer{cursor: pointer;}
.templateDesign{
    padding: 1rem 3rem;
    box-shadow: 1px 1px 6px grey;
    margin-bottom: 2.1rem;
}
.inputElements{
    background-color: black; 
    color: orange;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 0 2px orange inset;
    border: none;
}


.backGroundImage{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("./images/nightKingImg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

/* Main Classes */


/* Editing The navBar Portion */
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    padding: 1%;
    box-shadow: 1px 1px 4px white;
}
.navBar{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navBar>*{
    padding: 0 2%;
}
.homeLink{color: orange}
.contactLink{padding-right: 4rem;}
#commIcon{display: none;}
.hamImage{
    display: none;
    height: 20px;
    width: 20px;
    margin-left: 2.3rem;
    z-index: 2;
}
.hamContent{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.656);
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;
}
.hamContent>*{
    margin: 0.3rem 0;
    padding: 0.2rem;
    font-size: 1.3rem;
}
/* Main Content for the dynamic WebPage */
.mainContent{
    height: 90vh;
    overflow: visible;
    /* height: 100%; */

    display: grid;
    grid-template-columns: 60% 40%;
}
.contentCenter{
    grid-area: 1/1/span 1/span 1;

    display: grid;
    align-content: center;
    justify-items: center;
}

/* HOME */
.homeContent{
    /* height: 56rem; */
    display: flex;
    flex-direction: column;
}

/* ABOUT */
.aboutContent{
    display: none;
    flex-direction: column;
}

/* WORK */

.workContent{
    display: none;
    flex-direction: column;
}

/* WEB PROJECTS */

.webProjects{
    display: none;
    flex-direction: column;
}
.webProjectElements{
    display: grid;
    grid-template-areas: 
    "header image"
    "text image";
    
}
.webProjectElementHeader{grid-area: header;}
.webProjectImages{
    height: 10rem; 
    width: 20rem;
    grid-area: image;
    margin-left: 5rem;
}
.webProjectElementText{
    grid-area: text;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Comment Content */
.commentContent{
    display: none;
    flex-direction: column;
}
.newComment{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: auto auto auto auto auto; 
}
.labelName{grid-area: 1/1/span 1/span 1; padding: 0.5rem;}
.nameInput{grid-area: 1/2/span 1/span 2; padding: 0.5rem;}
.labelNameAno{grid-area: 2/1/span 1/span 3; padding: 0.5rem;}
.labelComment{grid-area: 3/1/span 1/span 3; padding: 0.5rem;}
.commentTextArea{grid-area: 4/1/span 1/span 3; padding: 0.5rem;}
.commentSubmit{
    grid-area: 5/1/span 1/span 3; 
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.loadMoreComments{
    padding: 0.2rem 0.5rem;
    background-color: black;
}
.loadMoreCommentDiv{
    display: flex;
    justify-content: flex-end;
}

/* CONTACT PAGE */
.contactContent{
    display: none;
    width: 100%;
    flex-direction: column;
}
.contactForm{
    display: grid;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: auto auto auto auto auto; 
}
.labelEmail{grid-area: 2/1/span 1/span 1; padding: 0.5rem;}
.emailInput{grid-area: 2/2/span 1/span 2; padding: 0.5rem;}
.labelMessage{grid-area: 3/1/span 1/span 3; padding: 0.5rem;}
.inputMessage{grid-area: 4/1/span 1/span 3; padding: 0.5rem;}
.contactSubmit{grid-area: 5/1/span 1/span 3; padding: 0.5rem;}

.connectWithMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.connectWithMe>*{padding-right: 2rem;}

@media screen and (max-width: 1610px) {
    .mainContent{    
        grid-template-columns: 65% 35%;
    }
} 

@media screen and (max-width: 1482px) {
    .mainContent{    
        grid-template-columns: 70% 30%;
    }
} 
@media screen and (max-width: 1380px) {
    .mainContent{    
        grid-template-columns: 75% 25%;
    }
} 
@media screen and (max-width: 1288px) {
    .mainContent{    
        grid-template-columns: 78% 22%;
    }
} 
@media screen and (max-width: 1238px) {
    .mainContent{
        grid-template-columns: 100% 0%;
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .contactLink{padding-right: 3rem;}
    .leftPadding{padding-left: 0;}
}
@media screen and (max-width: 984px) {
    .webProjectImages{width: 16rem};
}

@media screen and (max-width: 934px) {
    .smallText{font-size: 0.64rem; opacity: 90%;}
    .normalText{font-size: 0.88rem; opacity: 90%;}
    .xlargeText{font-size: 1.6rem; opacity: 97%;}
    .xxlargeText{font-size: 2rem; line-height: 5rem;}
    .largeLineHeight{line-height: 3.6rem;}
    .normalLineHeight{line-height: 1.6rem;}
    .contactLink{padding-right: 2rem;}

}
@media screen and (max-width: 872px) {
    .mainContent{
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .homeContent, .workContent, .aboutContent{
        padding-right: 5rem;
        padding-left: 5rem;

    }
    .webProjectImages{
        margin-left: 3rem;
    }
}
@media screen and (max-width: 840px) {
    .mainContent{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .hamImage,.hamContent{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .homeContent, .workContent, .aboutContent{
        padding-right: 4rem;
        padding-left: 4rem;

    }
    .templateDesign{
        padding: 1rem 2rem;
    }
}
@media screen and (max-width: 772px) {
    .webProjectImages{
        margin-left: 2rem;
    }
    .homeContent, .workContent, .aboutContent{
        padding-right: 3rem;
        padding-left: 3rem;

    }
}
@media screen and (max-width: 712px) {
    #contactLink{display: none;}
    #commIcon{display: flex;}
    .homeContent, .workContent, .aboutContent{
        padding-right: 1.5rem;
        padding-left: 1.5rem;

    }
    .webProjectElements{
        grid-template-areas: 
        "header"
        "image"
        "text";
    }
    .webProjectImages{
        width: 20rem;}
    .templateDesign{padding: 1rem;}
    .webProjectElements>*{padding: 0 1rem; margin: 1rem}
    .contactLink{padding-right: 1.5rem;}
    
    
    .webProjectElements>div{
        display: flex;
        justify-content: flex-start;
    }
    .navBar{display: none;}
    .hamImage{display: flex;}
}
@media screen and (max-width: 650px) {
    .templateDesign{padding: 0.5rem;}
}

@media screen and (max-width: 600px) {
    .homeContent, .workContent, .aboutContent{
        padding-right: 0;
        padding-left: 0;
    }
    .backGroundImage{
        opacity: 80%;
    }
}
@media screen and (max-width: 553px) {
    .mainContent{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .contactLink{padding-right: 0.5rem;}
    .hamImage,.hamContent{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
@media screen and (max-width: 520px) {
    .backGroundImage{
        opacity: 70%;
    }
    .webProjectElements>*{padding: 0; margin: 0.5rem 0}

    .smallText{font-size: 0.544rem; opacity: 90%;}
    .normalText{font-size: 0.748rem; opacity: 90%;}
    .xlargeText{font-size: 1.36rem; opacity: 97%;}
    .xxlargeText{font-size: 1.7rem; line-height: 5rem;}
    .largeLineHeight{line-height: 3.06rem;}
    .normalLineHeight{line-height: 1.36rem;}
    
}
@media screen and (max-width: 392px) {
    .contactForm>*{
        padding-left: 0.25rem;
        padding-right: 0.25rem; 
    }
}
@media screen and (max-width: 367px) {
    .webProjectImages{width: 16rem}
    .xxlargeText{
        line-height: 3rem;
        font-size: 1.55rem;
    }
}



/* Two things to note: One is media query and the other is the viewport height and width */